# Übungsblatt 6

Laden Sie die Daten, bevor Sie mit der Arbeit beginnen.

In [ ]:
%CREATE :memory: OF tables.sql WITH_TESTS tests.json
%GUESS_PARSER

## Aufgabe 1
Formulieren Sie die folgenden Anfragen jeweils einmal als RA- und einmal als SQL-Ausdruck.

In [ ]:
%SCHEMA TD ONLY Books

Nennen Sie Jahr und Titel aller Bücher.

In [ ]:
%TEST aufgabe1-1
Books

In [ ]:
%TEST aufgabe1-1
SELECT 1

Listen Sie die Informationen aller Studierender auf, die *CS* studieren. (Attribut `Major`)

In [ ]:
%TEST aufgabe1-2
Student

In [ ]:
%TEST aufgabe1-2
SELECT 1

Listen Sie alle Studierenden mit den Büchern, die sie leihen können, auf. (ungeachtet, ob sie verliehen sind oder nicht)

In [ ]:
%TEST aufgabe1-3
Books

In [ ]:
%TEST aufgabe1-3
SELECT 1

Nennen Sie alle Bücher, die von *Random House* nach 1950 veröffentlicht wurden.

In [ ]:
%TEST aufgabe1-4
Books

In [ ]:
%TEST aufgabe1-4
SELECT 1

Nennen Sie alle Namen der Autoren, die in *New York City, US* wohnen.

In [ ]:
%TEST aufgabe1-5
Authors

In [ ]:
%TEST aufgabe1-5
SELECT 1

Nennen Sie die Namen der Studierenden, die älter als 30 sind und nicht *CS* studieren.

In [ ]:
%TEST aufgabe1-6
Student

In [ ]:
%TEST aufgabe1-6
SELECT 1

Geben Sie die Namen der Autoren (Attribut `AName`) als `Name` aus.

In [ ]:
%TEST aufgabe1-7
Authors

In [ ]:
%TEST aufgabe1-7
SELECT 1

Nennen Sie die Namen aller Studierenden, die ein Buch geliehen haben und *CS* studieren.

In [ ]:
%TEST aufgabe1-8
Student

In [ ]:
%TEST aufgabe1-8
SELECT 1

Nennen Sie die Titel der Bücher, die von *Truman Capote* geschrieben wurden.

In [ ]:
%TEST aufgabe1-9
Books

In [ ]:
%TEST aufgabe1-9
SELECT 1

Nennen Sie die Titel der Bücher, die von *Truman Capote* geschrieben wurden, aber nicht das Keywort *friendship* haben.

In [ ]:
%TEST aufgabe1-10
Books

In [ ]:
%TEST aufgabe1-10
SELECT 1

Nennen Sie den Namen der/des jüngsten Studierenden.

In [ ]:
%TEST aufgabe1-11
Student

In [ ]:
%TEST aufgabe1-11
SELECT 1

Nennen Sie den Titel des ältesten Buchs.

In [ ]:
%TEST aufgabe1-12
Books

In [ ]:
%TEST aufgabe1-12
SELECT 1

Listen Sie alle Bücher mit ihren Keywörtern auf.

In [ ]:
%TEST aufgabe1-13
Books

In [ ]:
%TEST aufgabe1-13
SELECT 1

Listen Sie alle Studierenden mit den von ihr/ihm geliehenen Büchern auf.

In [ ]:
%TEST aufgabe1-14
Student

In [ ]:
%TEST aufgabe1-14
SELECT 1

Nennen Sie die Titel der Bücher, die von *Jane Austen* geschrieben wurden.

In [ ]:
%TEST aufgabe1-15
Books

In [ ]:
%TEST aufgabe1-15
SELECT 1

Nennen Sie die Namen der Autoren von Büchern, die von *Peter Pan* ausgeliehen wurden.

In [ ]:
%TEST aufgabe1-16
Books

In [ ]:
%TEST aufgabe1-16
SELECT 1

Welche Bücher (nennen Sie die Titel) haben die Keywörter *epic* und *fantasy*?

In [ ]:
%TEST aufgabe1-17
Books

In [ ]:
%TEST aufgabe1-17
SELECT 1

## Aufgabe 2
Formulieren Sie Anfragen an die Datenbank des Handels mit den Operationen der minimalen Relationenalgebra für folgende Anliegen. Notieren Sie außerdem eine Lösung im Bereichskalkül.

Achtung: **In dieser Implementierung des Bereichskalküls wird Groß- und Kleinschreibung nicht unterschieden!**

In [ ]:
%SCHEMA ONLY Einkauf

Finden Sie alle Bons von Einkäufen, die vormittags getätigt wurden.

In [ ]:
%TEST aufgabe2-1
Einkauf

In [ ]:
%TEST aufgabe2-1
{ * | Einkauf(BonId, _, _, _, _) }

Welche Artikel wurden nach 19 Uhr gekauft?

In [ ]:
%TEST aufgabe2-2
Einkauf

In [ ]:
%TEST aufgabe2-2
{ * | Einkauf(BonId, _, _, _, _) }

Finden Sie die Namen der Kunden, die noch keine Einkäufe getätigt haben.

In [ ]:
%TEST aufgabe2-3
Einkauf

In [ ]:
%TEST aufgabe2-3
{ * | Kunde(KdNr, Name) }

Welche Supermärkte (Name) haben wenigstens zwei Artikel im Angebot?

In [ ]:
%TEST aufgabe2-4
Angebot

In [ ]:
%TEST aufgabe2-4
{ * | Supermarkt(SID, Name, _) }

## Aufgabe 3
Finden Sie alle Bons in der Tabelle `Belege`, die die gleichen Artikel wie *Bon 1* enthalten.

Formulieren Sie eine Anfrage mit den Operationen der erweiterten Relationenalgebra.

In [ ]:
%TEST aufgabe3
Belege

Finden Sie eine alternative Formulierung der Anfrage nur mit den Operationen der minimalen Algebra.

In [ ]:
%TEST aufgabe3
Belege

Formulieren Sie eine entsprechende SQL-Anfrage.

In [ ]:
%TEST aufgabe3
SELECT 1

## Aufgabe 4
Ein Kunde hat wenig Zeit und kauft gern günstig ein. Er braucht für das bevorstehende Wochenende unbedingt noch Orangen und Kartoffeln, aber er möchte möglichst nur einen Supermarkt aufsuchen und nur Waren aus dem Angebot kaufen.

Gibt es einen solchen Supermarkt? Gesucht sind Name und Adresse.

In [ ]:
%TEST aufgabe4
Supermarkt