# Übungsblatt 5

Laden Sie die Daten, bevor Sie mit der Arbeit beginnen.

In [ ]:
%CREATE :memory: OF tables.sql WITH_TESTS tests.json

## Aufgabe 1
Formulieren Sie die folgenden Fragen an die Tabellen See und Kontinent als SQL-Anfragen.

In [ ]:
%SCHEMA ONLY See,Kontinent

Welche Seen liegen in Europa? *(Name, Tiefe)*

In [ ]:
%TEST task-1-1
SELECT 1

Welche Seen gibt es in den einzelnen Erdteilen? *(Erdteil, Name)*

In [ ]:
%TEST task-1-2
SELECT 1

Wie viele Seen befinden sich in den einzelnen Erdteilen? *(Erdteil, Anzahl)*

In [ ]:
%TEST task-1-3
SELECT 1

In welchen Erdteilen befinden sich mindestens fünf Seen? *(Erdteil)*

In [ ]:
%TEST task-1-4
SELECT 1

In wie vielen Ländern befinden sich die einzelnen Seen? *(Name, Anzahl)*

In [ ]:
%TEST task-1-5
SELECT 1

Welches ist die größte Tiefe aller Seen? *(Tiefe)*

In [ ]:
%TEST task-1-6
SELECT 1

Welcher See ist mit welcher Tiefe der tiefste See der Erde? *(Name, Tiefe)*

In [ ]:
%TEST task-1-7
SELECT 1

Welche Seen mit welcher Tiefe gibt es in Afrika? *(Name, Tiefe*)

In [ ]:
%TEST task-1-8
SELECT 1

Welcher See ist der tiefste See Afrikas? *(Name)*

In [ ]:
%TEST task-1-9
SELECT 1

Geben Sie zu jedem Land in Afrika - falls vorhanden - den tiefsten See des Landes und seine Tiefe an! Ordnen Sie aufsteigend nach der Tiefe und dem Land! *(Land, Name, Tiefe)*

In [ ]:
%TEST task-1-10
SELECT 1

Wie groß ist die Durchschnittstiefe aller Seen der Erde? *(Tiefe)*

**Achtung!** Ein See kann in mehreren Ländern liegen. Unterschiedliche Seen können dieselbe Tiefe haben.

In [ ]:
%TEST task-1-11
SELECT 1

## Aufgabe 2
In der Datenbank finden Sie auch eine Relation mit Angaben zu einigen Flüssen mit deren Länge und Mündung.

In [ ]:
%SCHEMA ONLY Wasserlauf

In welches Meer fließt letztendlich das Wasser der Ilm? Stellen Sie eine Anfrage nach Ausgangspunkt (Fluss) und der Mündung im herkömmlichen SQL **ohne Kenntnis von Rekursion**. *(Fluss, Muendung)*

In [ ]:
%TEST task-2-1
SELECT 1

Schreiben Sie für die folgenden Fragen SQL-Anweisungen mit **Rekursion**.

In welches Meer fließt das Wasser der Ilm? Verfolgen Sie den Lauf des Wassers bis zum Ende jeweils über Fluss und Mündung. *(Fluss, Muendung)*

In [ ]:
%TEST task-2-2
-- WITH RECURSIVE
SELECT 1

Die Schorte fließt in die Ilm, die Ilm in die Saale, $\dots$. Berechnen Sie mit einer rekursiven SQL-Anfrage den Weg, den das Wasser der Schorte von der Quelle bis zur Mündung ins Meer zurücklegen muss. Beachten Sie, dass die Mündung eines Flusses nicht an der Quelle des nächsten liegt. Gehen Sie bei Ihrer Berechnung davon aus, dass die Flüsse jeweils in der Mitte des nächsten einmünden. *(Laenge)*

In [ ]:
%TEST task-2-3
-- WITH RECURSIVE
SELECT 1

Welche Flüsse münden direkt oder indirekt in die Nordsee? Ermitteln Sie dabei auch die Anzahl der vorherigen Einmündungen in andere Flüsse. Formulieren Sie eine Anfrage nach Fluss und Anzahl (der vorherigen Einmündungen). *(Fluss, Anzahl)*

In [ ]:
%TEST task-2-4
-- WITH RECURSIVE
SELECT 1

## Aufgabe 3
Gegeben seien die Relationen $R$, $S$ und $T$.

In [ ]:
%SCHEMA TD ONLY R,S,T

Schreiben Sie für die folgenden relationen-algebraischen Operationen **äquivalente** SQL-Anweisungen:

$\Pi_{B}(T)$

In [ ]:
%TEST task-3-1
SELECT 1

$\sigma_{B=c}(S)$

In [ ]:
%TEST task-3-2
SELECT 1

$R \bowtie S$

In [ ]:
%TEST task-3-3
SELECT 1

$R \times T$

In [ ]:
%TEST task-3-4
SELECT 1

$ S \cup T $

In [ ]:
%TEST task-3-5-1
SELECT 1

$ S \cap T $

In [ ]:
%TEST task-3-5-2
SELECT 1

$S - T$

In [ ]:
%TEST task-3-6-1
SELECT 1

$T - S$

In [ ]:
%TEST task-3-6-2
SELECT 1