# Teil II: Relationale Datenbanken - Daten als Tabellen

In [ ]:
%CREATE :memory: OF weine.sql
%GUESS_PARSER

In [ ]:
Erzeuger

In [ ]:
Weine

## Relationenalgebra

### Selektion

In [ ]:
σ Jahrgang>2000 (Weine)

### Projektion

In [ ]:
π Region (Erzeuger)

### Natürlicher Verbund

In [ ]:
Weine ⋈ Erzeuger

### Kombination von Operationen

In [ ]:
π [ WName, Farbe, Weingut ] (σ [ Jahrgang>2000]  (Weine) ⋈ σ [ Region='Kalifornien' ] (Erzeuger))

### Umbenennung

In [ ]:
Empfehlung

In [ ]:
β [ Name←Wein ] (Empfehlung)

### Vereinigung

In [ ]:
Weinliste ∪ β [ Name←Wein ] (Empfehlung)

### Differenz

In [ ]:
Weinliste \ β [ Name←Wein ] (Empfehlung)

### Durchschnitt

In [ ]:
Weinliste ∩ β [ Name←Wein ] (Empfehlung)

## SQL als Anfragesprache

### Anfrage

In [ ]:
SELECT WName, Farbe
FROM Weine
WHERE Jahrgang = 2002

### Verknüpfung von Tabellen

In [ ]:
SELECT *
FROM Weine, Erzeuger

In [ ]:
SELECT *
FROM Weine
NATURAL JOIN Erzeuger

In [ ]:
SELECT *
FROM Weine, Erzeuger
WHERE Weine.Weingut = Erzeuger.Weingut

### Kombination von Bedingungen

In [ ]:
SELECT WName, Farbe, Weine.Weingut
FROM Weine, Erzeuger
WHERE Jahrgang > 2000 AND Region = 'Kalifornien' AND Weine.Weingut = Erzeuger.Weingut

### Mengenoperationen in SQL

In [ ]:
SELECT * FROM Weinliste
UNION
SELECT * FROM Empfehlung

In [ ]:
SELECT * FROM Weinliste
INTERSECT
SELECT * FROM Empfehlung

In [ ]:
SELECT * FROM Weinliste
EXCEPT
SELECT * FROM Empfehlung

In [ ]:
SELECT *
FROM Weinliste
WHERE Name NOT IN (
    SELECT *
    FROM Empfehlung
)

## Änderungsoperationen in SQL

### Update

In [ ]:
UPDATE Weine
SET Farbe = 'grün'

In [ ]:
SELECT * FROM Weine

### Delete

In [ ]:
DELETE FROM Weine

In [ ]:
SELECT * FROM Weine

### Insert

In [ ]:
INSERT INTO Weine VALUES (1, 'Name', 'Farbe', 2000, 'Creek')

In [ ]:
SELECT * FROM Weine