# Teil II: Relationale Datenbanken - Daten als Tabellen

In [ ]:
%CREATE :memory: OF mitfahrzentrale.sql

In [ ]:
%SCHEMA

## Anwendungsbeispiel: Mitfahrzentrale

### Angebote f√ºr spezifisches Datum

In [ ]:
SELECT *
FROM Angebot
WHERE Von = 'Ilmenau' AND Nach = 'Erfurt' AND Datum = '2018-11-30'

### Reservierung anlegen

In [ ]:
INSERT INTO Reservierung VALUES
    ('Speedy', 27)

### Mitfahrer finden

In [ ]:
SELECT R.Name
FROM Reservierung R, Angebot A
WHERE R.ID = A.ID AND A.Fahrer = 'Nick'