# Teil VII: Die relationale Anfragesprache SQL

In [ ]:
%CREATE :memory: OF tables.sql

## Inhaltsverzeichnis
- [Aufbau von SQL-Anfragen](#Aufbau-von-SQL-Anfragen)
  - [SELECT-Klausel](#SELECT-Klausel)
  - [distinct eliminiert Duplikate](#distinct-eliminiert-Duplikate)
  - [Tupelvariablen und Relationennamen](#Tupelvariablen-und-Relationennamen)
  - [Kartesisches Produkt](#Kartesisches-Produkt)
  - [Natürlicher Verbund](#Natürlicher-Verbund)
  - [Verbunde als explizite Operatoren](#Verbunde-als-explizite-Operatoren)
  - [Präfixe für Eindeutigkeit](#Präfixe-für-Eindeutigkeit)
  - [Tupelvariablen für Eindeutigkeit](#Tupelvariablen-für-Eindeutigkeit)
  - [Die WHERE-Klausel als Verbundbedingung](#Die-WHERE-Klausel-als-Verbundbedingung)
  - [Bereichsselektion](#Bereichsselektion)
  - [Ungewissheitsselektion](#Ungewissheitsselektion)
  - [Mengenoperationen in SQL](#Mengenoperationen-in-SQL)
  - [in-Prädikat und geschachtelte Anfragen](#in-Prädikat-und-geschachtelte-Anfragen)
  - [Negation des in-Prädikats](#Negation-des-in-Prädikats)
- [Erweiterungen des SFW-Blocks](#Erweiterungen-des-SFW-Blocks)
  - [Skalare Ausdrücke](#Skalare-Ausdrücke)
  - [Bedingte Ausdrücke](#Bedingte-Ausdrücke)
  - [Typkonvertierung](#Typkonvertierung)
  - [Bedingungen mit Quantoren](#Bedingungen-mit-Quantoren)
  - [Vergleich von Wertemengen](#Vergleich-von-Wertemengen)
  - [Verzahnt geschachtelte Anfragen](#Verzahnt-geschachtelte-Anfragen)
- [Aggregatfunktionen und Gruppierungen](#Aggregatfunktionen-und-Gruppierungen)
  - [Beispiele](#Beispiele)
  - [Aggregatfunktionen in WHERE-Klausel](#Aggregatfunktionen-in-WHERE-Klausel)
  - [Gruppierung: Schema](#Gruppierung-Schema)
  - [Gruppering: Beispiel](#Gruppering-Beispiel)
  - [having: Beispiel](#having-Beispiel)
  - [Äußerer Verbund: Beispiel](#Äußerer-Verbund-Beispiel)
  - [Simulation des (linken) äußeren Verbundes](#Simulation-des-linken-äußeren-Verbundes)
  - [Sortierung](#Sortierung)
  - [Top-K-Anfragen](#Top-K-Anfragen)
  - [Selektionen nach Nullwerten](#Selektionen-nach-Nullwerten)
- [Rekursion](#Rekursion)
  - [Benannte Anfragen](#Benannte-Anfragen)
  - [Rekursive Anfrage: Busfahrt mit max. 2x Umsteigen](#Rekursive-Anfrage-Busfahrt-mit-max-2x-Umsteigen)
  - [Rekursion in SQL:2003](#Rekursion-in-SQL2003)
  - [Rekursion: Beispiel](#Rekursion-Beispiel)
  - [Sicherheit rekursiver Anfragen](#Sicherheit-rekursiver-Anfragen)
- [Fortgeschrittenes SQL](#Fortgeschrittenes-SQL)
  - [Top-k](#Top-k)
  - [Aggregationsfenster](#Aggregationsfenster)
  - [Mengengleichheit](#Mengengleichheit)
  - [Anschlussbus](#Anschlussbus)
  - [Mode - Häufigster Wert](#Mode---Häufigster-Wert)

## Aufbau von SQL-Anfragen

### SELECT-Klausel

In [ ]:
-- Folie 7-8
SELECT * FROM WEINE

### distinct eliminiert Duplikate

In [ ]:
-- Folie 7-9
SELECT Name FROM WEINE

In [ ]:
-- Folie 7-10
SELECT DISTINCT Name FROM WEINE

### Tupelvariablen und Relationennamen

In [ ]:
-- Folie 7-11
SELECT WEINE.Name FROM WEINE

In [ ]:
-- Folie 7-11
SELECT W.Name FROM WEINE W

### Kartesisches Produkt

In [ ]:
-- Folie 7-12
SELECT * FROM WEINE, ERZEUGER

In [ ]:
-- Folie 7-13
SELECT * FROM WEINE W1, WEINE W2

### Natürlicher Verbund

In [ ]:
-- Folie 7-14
SELECT *
FROM WEINE, ERZEUGER
WHERE WEINE.Weingut = ERZEUGER.Weingut

In [ ]:
-- Folie 7-15
SELECT * FROM WEINE NATURAL JOIN ERZEUGER

### Verbunde als explizite Operatoren

In [ ]:
-- Folie 7-16
SELECT * FROM WEINE JOIN ERZEUGER ON WEINE.Weingut = ERZEUGER.Weingut

In [ ]:
-- Folie 7-16
SELECT * FROM WEINE JOIN ERZEUGER USING (Weingut)

In [ ]:
-- Folie 7-17
SELECT * FROM WEINE CROSS JOIN ERZEUGER

In [ ]:
-- Folie 7-18 (angepasst auf DuckDB)
SELECT Ergebnis.Weingut
FROM (
    SELECT * FROM WEINE NATURAL JOIN ERZEUGER
) Ergebnis

### Präfixe für Eindeutigkeit

In [ ]:
-- Folie 7-19
-- Anpassung, da DuckDB das Join-Attribut nur einmalig beim "NATURAL JOIN" übernimmt.
SELECT Name, Jahrgang, Weingut
FROM WEINE JOIN ERZEUGER ON WEINE.Weingut = ERZEUGER.Weingut

In [ ]:
-- Folie 7-19
SELECT Name, Jahrgang, WEINE.Weingut
FROM WEINE JOIN ERZEUGER ON WEINE.Weingut = ERZEUGER.Weingut

### Tupelvariablen für Eindeutigkeit

In [ ]:
-- Folie 7-20
SELECT w1.Name, w2.Weingut FROM Weine w1, Weine w2

### Die WHERE-Klausel als Verbundbedingung

In [ ]:
-- Folie 7-22
SELECT Name, Jahrgang, ERZEUGER.Weingut
FROM WEINE, ERZEUGER
WHERE WEINE.Weingut = ERZEUGER.Weingut

### Bereichsselektion

In [ ]:
-- Folie 7-23
SELECT * FROM WEINE
WHERE Jahrgang BETWEEN 2000 AND 2005

In [ ]:
-- Folie 7-23
SELECT * FROM WEINE
WHERE Jahrgang >= 2000 AND Jahrgang <= 2005

### Ungewissheitsselektion

In [ ]:
-- Folie 7-25
SELECT * FROM WEINE
WHERE Name LIKE 'La Rose%'

### Mengenoperationen in SQL

In [ ]:
-- Folie 7-27
-- EXCEPT CORRESPONDING wird von DuckDB nicht unterstützt.
SELECT *
FROM (
    SELECT Weingut FROM ERZEUGER
    EXCEPT
    SELECT Weingut FROM WEINE
)

In [ ]:
-- Folie 7-29
-- UNION CORRESPONDING wird von DuckDB nicht unterstützt.
SELECT * FROM R
UNION
SELECT * FROM S

In [ ]:
-- Folie 7-29
SELECT * FROM R
UNION ALL
SELECT * FROM S

### in-Prädikat und geschachtelte Anfragen

In [ ]:
-- Folie 7-32
SELECT Name
FROM WEINE
WHERE Weingut IN (
    SELECT Weingut
    FROM ERZEUGER
    WHERE Region = 'Bordeaux'
)

In [ ]:
-- Folie 7-33
SELECT Name
FROM WEINE
WHERE Weingut IN ('Chateau La Rose', 'Chateau La Pointe')

In [ ]:
-- Folie 7-34
SELECT Name
FROM WEINE NATURAL JOIN ERZEUGER
WHERE Region = 'Bordeaux'

### Negation des in-Prädikats

In [ ]:
-- Folie 7-35
SELECT Weingut
FROM ERZEUGER
WHERE Weingut NOT IN (
    SELECT Weingut
    FROM WEINE
)

## Erweiterungen des SFW-Blocks

### Skalare Ausdrücke

In [ ]:
-- Folie 7-41
-- angepasst auf DuckDB
SELECT SUBSTRING(Name from 1 FOR (LENGTH(Name) - POSITION('Grand Cru' IN Name)))
FROM WEINE
WHERE Name LIKE '%Grand Cru'

In [ ]:
-- Folie 7-42
-- angepasst auf DuckDB
ALTER TAblE WEINE ADD COLUMN HerstDatum DATE;

UPDATE WEINE SET HerstDatum = date '2004-08-13' WHERE Name = 'Zinfandel';

SELECT Name, date_diff('Y', HerstDatum, current_date) AS Alter
FROM WEINE

### Bedingte Ausdrücke

In [ ]:
-- Folie 7-44
SELECT CASE
    WHEN Farbe = 'Rot'  THEN 'Rotwein'
    WHEN Farbe = 'Weiß' THEN 'Weißwein'
    ELSE 'Sonstiges'
END AS Weinart, Name
FROM WEINE

### Typkonvertierung

In [ ]:
-- Folie 7-45
SELECT CAST(Jahrgang AS VARCHAR) || 'er ' || Name AS Bezeichnung
FROM WEINE

### Bedingungen mit Quantoren

In [ ]:
-- Folie 7-47
SELECT *
FROM WEINE
WHERE Jahrgang <= all(
    SELECT Jahrgang
    FROM WEINE
)

In [ ]:
-- Folie 7-47
SELECT *
FROM ERZEUGER
WHERE Weingut = any(
    SELECT Weingut FROM WEINE
    WHERE Farbe = 'Rot'
)

### Vergleich von Wertemengen

In [ ]:
-- Folie 7-48
SELECT Weingut
FROM WEINE
WHERE Farbe = 'Rot' AND Farbe = 'Weiß'

In [ ]:
-- Folie 7-49
SELECT w1.Weingut
FROM WEINE w1, WEINE w2
WHERE w1.Weingut = w2.Weingut AND w1.Farbe = 'Rot' AND w2.Farbe = 'Weiß'

### Verzahnt geschachtelte Anfragen

In [ ]:
-- Folie 7-51
SELECT *
FROM ERZEUGER
WHERE 1999 IN (
    SELECT Jahrgang
    FROM WEINE
    WHERE Farbe = 'Rot' AND Weine.Weingut = ERZEUGER.Weingut
)

In [ ]:
-- Folie 7-53
SELECT *
FROM ERZEUGER e
WHERE Region = 'Bordeaux' AND NOT EXISTS (
    SELECT *
    FROM WEINE
    WHERE Weingut = e.Weingut
)

## Aggregatfunktionen und Gruppierungen

### Beispiele

In [ ]:
-- Folie 7-59
SELECT COUNT(*) AS Anzahl
FROM WEINE

In [ ]:
-- Folie 7-60
SELECT COUNT(DISTINCT Region)
FROM ERZEUGER

In [ ]:
-- Folie 7-60
SELECT Name, Jahrgang
FROM WEINE
WHERE Jahrgang < (
    SELECT AVG(Jahrgang)
    FROM WEINE
)

### Aggregatfunktionen in WHERE-Klausel

In [ ]:
-- Folie 7-62
SELECT *
FROM ERZEUGER e
WHERE 1 = (
    SELECT COUNT(*)
    FROM WEINE w
    WHERE w.Weingut = e.Weingut
)

### Gruppierung: Schema

In [ ]:
-- Folie 7-64
SELECT A, SUM(D)
FROM REL
-- WHERE ...
GROUP BY A, B
HAVING A < 4 AND SUM(D) < 10 AND MAX(C) = 4

### Gruppering: Beispiel

In [ ]:
-- Folie 7-69
SELECT Farbe, COUNT(*) AS Anzahl
FROM WEINE
GROUP BY Farbe

### having: Beispiel

In [ ]:
-- Folie 7-70
SELECT Region, COUNT(*) AS Anzahl
FROM ERZEUGER NATURAL JOIN WEINE
GROUP BY Region
HAVING COUNT(*) > 1

### Äußerer Verbund: Beispiel

In [ ]:
-- Folie 7-74
SELECT Anbaugebiet, COUNT(WeinID) AS Anzahl
FROM ERZEUGER NATURAL LEFT OUTER JOIN WEINE
GROUP BY Anbaugebiet

### Simulation des (linken) äußeren Verbundes

In [ ]:
-- Folie 7-75
SELECT *
FROM ERZEUGER NATURAL JOIN WEINE

UNION ALL

SELECT e.*,
       CAST(NULL AS INT),
       CAST(NULL AS VARCHAR(20)),
       CAST(NULL AS VARCHAR(10)),
       CAST(NULL AS INT),
       CAST(NULL AS VARCHAR(20))
FROM ERZEUGER e
WHERE NOT EXISTS (
    SELECT *
    FROM WEINE
    WHERE WEINE.Weingut = e.Weingut
)

### Sortierung

In [ ]:
-- Folie 7-77
SELECT Weingut, COUNT(*) AS Anzahl
FROM ERZEUGER NATURAL JOIN WEINE
GROUP BY Weingut
ORDER BY Anzahl DESC

### Top-K-Anfragen

In [ ]:
-- Folie 7-78
SELECT w1.Name, COUNT(*) AS Rang
FROM WEINE w1, WEINE w2
WHERE w1.Jahrgang <= w2.Jahrgang
GROUP BY w1.Name, w1.WeinID
HAVING COUNT(*) <= 4
ORDER BY Rang

### Selektionen nach Nullwerten

In [ ]:
-- Folie 7-82
SELECT * FROM ERZEUGER
WHERE Anbaugebiet IS NULL

## Rekursion

### Benannte Anfragen

In [ ]:
-- Folie 7-84
SELECT *
FROM WEINE
WHERE Jahrgang >= (SELECT AVG(Jahrgang) FROM WEINE) - 2 AND Jahrgang <= (SELECT AVG(Jahrgang) FROM WEINE) + 2

In [ ]:
-- Folie 7-85
WITH ALTER(Durchschnitt) AS (
    SELECT AVG(Jahrgang) FROM WEINE
)

SELECT *
FROM WEINE, ALTER
WHERE Jahrgang >= Durchschnitt - 2 AND Jahrgang <= Durchschnitt + 2

### Rekursive Anfrage: Busfahrt mit max. 2x Umsteigen

In [ ]:
-- Folie 7-87
SELECT Abfahrt, Ankunft
FROM BUSLINIE
WHERE Abfahrt = 'Nuriootpa'

UNION

SELECT B1.Abfahrt, B2.Ankunft
FROM BUSLINIE B1, BUSLINIE B2
WHERE B1.Abfahrt = 'Nuriootpa' AND B1.Ankunft = B2.Abfahrt

UNION

SELECT B1.Abfahrt, B3.Ankunft
FROM BUSLINIE B1, BUSLINIE B2, BUSLINIE B3
WHERE B1.Abfahrt = 'Nuriootpa' AND B1.Ankunft = B2.Abfahrt AND B2.Ankunft = B3.Abfahrt

### Rekursion in SQL:2003

In [ ]:
-- Folie 7-90
WITH RECURSIVE TOUR(Abfahrt, Ankunft) AS (
    SELECT Abfahrt, Ankunft
    FROM BUSLINIE
    WHERE Abfahrt = 'Nuriootpa'

    UNION ALL

    SELECT T.Abfahrt, B.Ankunft
    FROM TOUR T, BUSLINIE B
    WHERE T.Ankunft = B.Abfahrt
)

SELECT DISTINCT * FROM TOUR

### Rekursion: Beispiel

In [ ]:
-- Folie 7-92
WITH RECURSIVE TOUR(Abfahrt, Ankunft, Strecke) as (
    SELECT Abfahrt, Ankunft, Distanz as Strecke
    FROM BUSLINIE
    WHERE Abfahrt = 'Nuriootpa'

    UNION ALL

    SELECT T.Abfahrt, B.Ankunft, Strecke + Distanz AS Strecke
    FROM TOUR T, BUSLINIE B
    WHERE T.Ankunft = B.Abfahrt
)

SELECT DISTINCT * FROM TOUR

### Sicherheit rekursiver Anfragen

In [ ]:
-- Folie 7-93
INSERT INTO BUSLINIE (Abfahrt, Ankunft, Distanz) VALUES
    ('Lyndoch', 'Tanunda', 12)

In [ ]:
-- Folie 7-94
WITH RECURSIVE TOUR(Abfahrt, Ankunft, Umsteigen) AS (
    SELECT Abfahrt, Ankunft, 0
    FROM BUSLINIE
    WHERE Abfahrt = 'Nuriootpa'

    UNION ALL

    SELECT T.Abfahrt, B.Ankunft, Umsteigen + 1
    FROM TOUR T, BUSLINIE B
    WHERE T.Ankunft = B.Abfahrt AND Umsteigen < 2
)

SELECT DISTINCT * FROM TOUR

## Fortgeschrittenes SQL

In [ ]:
-- Folie 7-102
SELECT Jahr, SUM(Umsatz) FILTER (WHERE Quartal=1) Q1,
             SUM(Umsatz) FILTER (WHERE Quartal=2) Q2,
             SUM(Umsatz) FILTER (WHERE Quartal=3) Q3,
             SUM(Umsatz) FILTER (WHERE Quartal=4) Q4
FROM LDATA
GROUP BY Jahr

In [ ]:
-- Folie 7-103
SELECT 1 AS Quartal, Jahr, Q1 AS Umsatz FROM RDATA
UNION ALL
SELECT 2 AS Quartal, Jahr, Q2 AS Umsatz FROM RDATA
UNION ALL
SELECT 3 AS Quartal, Jahr, Q3 AS Umsatz FROM RDATA
UNION ALL
SELECT 4 AS Quartal, Jahr, Q4 AS Umsatz FROM RDATA

### Top-k

In [ ]:
-- Folie 7-109
SELECT COUNT(*) OVER()
FROM RACE

In [ ]:
-- Folie 7-109
SELECT COUNT(*) OVER(ORDER BY Zeit)
FROM RACE

In [ ]:
-- Folie 7-110
SELECT Name, Zeit, RANK() OVER (ORDER BY Zeit)
FROM RACE
WHERE Distanz = 'M'

In [ ]:
-- Folie 7-111
SELECT * FROM (
    SELECT Name, Zeit, RANK() OVER (ORDER BY Zeit) Rang
    FROM RACE
    WHERE Distanz = 'M'
) T
WHERE Rang <= 2

In [ ]:
-- Folie 7-112
SELECT * FROM (
    SELECT Name, Distanz, Zeit, RANK() OVER (PARTITION BY Distanz ORDER BY Zeit) Rang
    FROM RACE
) T
WHERE Rang <= 2

### Aggregationsfenster

In [ ]:
-- Folie 7-115
SELECT Zeit, AVG(Wert) OVER (ORDER BY Zeit ASC ROWS 3 PRECEDING)
FROM SERIES

### Mengengleichheit

In [ ]:
-- Folie 7-117
SELECT h3.Hobby FROM HOBBIES AS h3
WHERE 'Kevin' = h3.Name

EXCEPT

SELECT h4.Hobby FROM HOBBIES AS h4
WHERE 'Martina' = h4.Name

In [ ]:
SELECT DISTINCT h1.Name, h2.Name
FROM HOBBIES AS h1, HOBBIES AS h2
WHERE h1.Name < h2.Name -- nicht die gleiche Person
    AND NOT EXISTS ( -- e in h1 aber nicht in h2
        SELECT h3.Hobby FROM Hobbies AS h3
        WHERE h1.Name = h3.Name
        EXCEPT
        SELECT h4.Hobby FROM Hobbies AS h4
        WHERE h2.Name = h4.Name
    )
    AND NOT EXISTS ( -- e in h2 aber nicht in h1
        SELECT h5.Hobby FROM Hobbies AS h5
        WHERE h2.Name = h5.Name
        EXCEPT
        SELECT h6.Hobby FROM Hobbies AS h6
        WHERE h1.Name = h6.Name
    )

### Anschlussbus

In [ ]:
-- Folie 7-120
SELECT * FROM Fahrplan f1
WHERE f1.Abfahrt = (
    SELECT MIN(f2.Abfahrt) FROM Fahrplan f2
    WHERE f2.Abfahrt >= time '08:05:00'
)

### Mode - Häufigster Wert

In [ ]:
-- Folie 7-122
SELECT Studiengang, COUNT(*)
FROM STUDENTS
GROUP BY Studiengang
HAVING COUNT(*) >= all(
    SELECT COUNT(*)
    FROM STUDENTS
    GROUP BY Studiengang
)